body {
  text-align: center;
  margin: 5%;
  background-image: url("../img/background.jpg");
}

table {
  font-size: 150%;
}

.table th, .table td {
     border-top: none !important;
 }

.appeared {
  background-color: red;
}
